/* Sign up styles */

/* Header and header items  */
div.header_items  {
    text-align: right;
    margin-right: 100px;
}
div.header_items a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 40px;
}

.sign_up_form form {
    margin: auto;
    width: 50%;
    padding: 10px;
}