html {
    font-family: 'Kanit', sans-serif;
}
body {
    background-color: #9DE6C8;
    opacity: 90%;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
  }
  .logo {
    flex-grow: 1;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin-left: 20px;
  }
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }


/* Sign up styles */
/* Form styles */
form.sign_up_form {
    margin: auto;
    width: 50%;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.h1_form {
    font-weight: 400;
    color: #202020;
    font-size: 35px;

}
.p_form {
    text-align: center;
    color: #202020;
    opacity: 76%;
}

input {
    border-radius: 20px;
    border: solid black;
    border-width: 1px;
    padding-right: 300px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;

}
.sign_up_label {
    
    text-align: justify;

}
.error {
    color:green;
}


/* Confirm sign up styles */
/* table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
 */
 table, th, td {
    border:5px solid black;
  }
