html {
    font-family: 'Kanit', sans-serif;
}
body {
    background-color: #9DE6C8;
    opacity: 90%;
    overflow-x: hidden;

}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
  }
  .logo {
    flex-grow: 1;
  }
  .logo_img {
    max-width: 5%;
    height: auto;
    transform: scaleX(-1);

  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin-left: 20px;
  }
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }


/* Sign up styles */
/* Form styles */
form.sign_up_form {
    margin: auto;
    width: 50%;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.h1_form {
    font-weight: 400;
    color: #202020;
    font-size: 35px;

}
.p_form {
    text-align: center;
    color: #202020;
    opacity: 76%;
}

input {
    border-radius: 20px;
    border: solid black;
    border-width: 1px;
    padding-right: 300px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;

}
.sign_up_label {
    
    text-align: justify;

}
.error {
    color:green;
}


 .user_data {
    border:5px solid black;
  }


  /* Home Styles */
  .home_section {
    padding: 10px;
    font-size: 80px;
    text-transform: capitalize;
    text-align: center;
  }

  /* Footer Styles */
  footer {
    background-color: #aaaaaa;
    padding-left: 35px;
    width: 100%;
    margin-top: 100px;
}

.footer_h1 {
    color: white;

}

.footer_td {
    border: none;
}

.footer_icon {
    width: 20px;
    height: 20px;
    
}

.footer_th {
  width: 33%;
  text-align: left; 
  margin: 30px;
}

.footer_li {
  margin-top:15px ;
  font-size: 20px;
}

/* Edit category button */
input.edit_button {
    
  padding-right: 30px;

}

